*
{
    margin:0;padding:0;box-sizing: border-box;
}


.topnav
{
    background-color: black;
    color:black;
}
.topnav a
{
    color:white;
    text-decoration: none;font-size: medium;margin-left: 4%;padding:1%; display:block; float:left;
}
.topnav a:hover
{
background-color:whitesmoke;color:black;
}

.header
{
    background: linear-gradient(rgb(0,0,0,0.5),rgb(255,255,255,0.8)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQeQwH8Zv2NkrpaQ6Se6mrXocqtGySVswOfzg&usqp=CAU");

    background-repeat: no-repeat;background-size: cover;
    height: 100vh;
    color: wheat;
    text-align: center;
    padding: 20%;
    font-size: 70px;
}
.header h1
{
margin-top: 10%;text-decoration: blanchedalmond;text-transform: capitalize;
}
.row ::after
{
    content:"";
    display: table;
    clear: both;
}
.column
{
    float: left;
    width:33.33%;padding:5px;
}

#home
{
    padding:5%;float: left;background-color: black;background-size: cover;

}
#home h1
{
    font-size: 40px; margin-left: 20%; color:whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#home p
{
    font-size: 20px;
    padding: 20px;text-align: center;
    margin: 5px;color: whitesmoke;
}
#home img
{
width:100%;padding:10px;height: 500px;float: right;border: 5px solid #A6ACAF;
}

#gallery
{
    padding: 20px;float: left;

}
#gallery h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding:10px;text-align: center;
    
}
#gallery img{
    width:500px;float: left;border: 5px solid #555;
    
    height:500px;
    padding:10%;
}

#about
{
     padding: 20%;
     background-size: cover;float:left;background-color: black;

}
#about h1
{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;color:white;

}
#about p
{
    font-size: 30px;
    padding: 20px;color:white;
}

#Contact
{
    padding:20px;
    margin:10px;
    float:left;
}
#Contact h1
{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
#Contact form
{

    padding: 20px 40px;
    float:left;
}
input[type="text"],input[type="tel"],input[type="email"]
{
    width:800px;padding:10px 20px;height: 50px;box-sizing: border-box;font-size: 20px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type="submit"]
{
    background-color: black;
    color: white;
    padding: 12px 20px;
    border:none;border-radius: 4px;cursor: pointer;
}
input[type="submit"]  :hover
{
    background-color: black;color: white;
}
.container
{
    border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
